@import url('https://fonts.googleapis.com/css?family=Oxygen');

.fill {
  height: calc(100vh - 72px);
}

.sidebar {
  overflow-y: auto;
}

.long-main {
  overflow-y: auto;
}

.btn-wrap {
  white-space: normal;
}

body {
  font-family: 'Oxygen', sans-serif;
}

.dropdown-menu.columns-3 {
  min-width: 600px;
}
.dropdown-menu li a {
  padding: 5px 15px;
  font-weight: 300;
}
.multi-column-dropdown {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
.multi-column-dropdown li a {
  display: block;
  clear: both;
  line-height: 1.428571429;
  color: #333;
  white-space: normal;
}
.multi-column-dropdown li a:hover {
  text-decoration: none;
  color: #262626;
  background-color: #999;
}

@media (max-width: 767px) {
  .dropdown-menu.multi-column {
    min-width: 240px !important;
    overflow-x: hidden;
  }
}
.right-sidebar-about-text{
  font-weight: light;
}
.left-nav-l2{
  font-weight: bold;
}

.left-nav-l3{
  font-weight: light;
  padding-left: 20px !important;
}
